body {
    background-color: #000; /* color de fondo de toda la p치gina */ 
    color:#fff; /* color de letra de toda la p치gina */
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900; /* peso del contorno de la letra */
}
p {
    text-align: center;
    font-size: 35px;
}

/* imagen */ 
picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 30%; /*  width: ancho / height: alto*/ 
    justify-content: center;
}

/* lista y enlace */
#opciones {
    text-align: center;
    list-style: none; /* elimina los puntitos (vi침eta) */
}

#opciones li {
    display: inline-block; /* la lista la coloca horizontalmente */
    padding: 10px;
}

.boton {
    text-decoration: none; /* Eliminamos el subrayado del enlace */
    color: #fff;
    border: 2px solid rgb(217, 168, 54);
    padding: 5px; /* margen interior */
    border-radius: 5px;
    display: inline-block;
}
.boton:hover { /* pseudoclase hover se activa cuando el mouse est치 por encima del elemento */
    background-color: burlywood;
    color: #000;
}
a{
    font-size: 30px;
}